<div class="row clear-nav">
  <div class="central brightfont">
    <section class="projects-box">
      <div class="row medium-text left-align margin-bottom"><div class="central"><span class="medium-geld">R</span>ecent <span class="medium-geld">P</span>rojects</div></div>
      <div class="row">
        <div class="project-container" ng-repeat="project in projects | limitTo: 3">
          <div class="project-img-container">
            <img ng-src="{{project.screenshot}}" class="project-img">
          </div>
          <div class="row">
          <i class="icon-{{project.platforms[0].icon}} platform-icon"></i><span class="small-medium-text line-height-match" style="margin-top: 5px; float: right;">{{project.title}}</spn>
        </div>
        </div>
    </section>
  </div>
</div>
</div>
