<div class="row clear-nav">
  <div class="central brightfont">
    <section class="projects-box">
      <div class="row medium-text left-align margin-bottom">
        <div class="central">
          <span class="medium-geld">C</span>ontact
          <span class="medium-geld">
            <div class="icon-basic-mail contact-selection" ng-click="showEmail()"></div>
            <div class="icon-basic-smartphone contact-selection" ng-click="showText()"></div>
            <a href="{{::user.linkedinurl}}"><div class="contact-selection" style="background-color: rgb(61, 155, 215);" ><img src="./images/linkedin.png" class="contact-img"/></div></a>
            <a href="{{::user.githuburl}}"><div class="contact-selection" style="background-color: rgb(61, 215, 123);" ><img src="./images/social-github-outline.png" class="contact-img"/></div></a>
          </div>
        </div>
        <div class="row" ng-switch on="medium">
          <div class="contact-container fadeinload" ng-switch-when="email">
            <div class="row medium-text left-align margin-bottom">E-Mail</div>
            <form ng-submit="sendEmail()">
              <input class="top-round border-bottom" ng-model="newMail.from" placeholder="From..." required type="email"/>
              <input class="border-bottom" ng-model="newMail.subject" placeholder="Subject..." required type="text"/>
              <textarea class="message bottom-round" draggable="false" ng-model="newMail.text" placeholder="Message..." required/></textarea>
            <div class="row">
              <button class="submit" ng-disabled="!newMail.from || !newMail.subject || !newMail.text" type="submit">SUBMIT EMAIL</button>
            </div>
          </form>
        </div>
        <div class="contact-container fadeinload" ng-switch-when="text">
          <div class="row medium-text left-align margin-bottom">Text Message</div>
          <form ng-submit="sendText()">
            <input class="top-round border-bottom" ng-model="newText.sender" placeholder="Name..." required type="text"/>
            <input class="border-bottom" ng-model="newText.number" placeholder="Number..." required type="tel"/>
            <input class="border-bottom" ng-model="newText.company" placeholder="Company (optional)..." type="text"/>
            <input class="bottom-round border-bottom" ng-model="newText.email" placeholder="Email..." required type="email"/>
            <div class="row" style="text-align: center;">
              <button class="submit" ng-disabled="!newText.sender || !newText.number || !newText.email" type="submit">SUBMIT TEXT</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
