<div class="video-container">
  <video class="hero-video" loop="loop" autoplay="autoplay">
    <source src="./videos/Hello-World/Hello-World.mp4" type="video/mp4"/>
    <source src="./videos/Hello-World/Hello-World.webm" type="video/webm"/>
  </video>
  <div class="hero-blurb">
    <span style="text-transform: uppercase;">"{{blurb}}"</span><br>
    <div style="line-height: 20px;">
      <span style="font-size: 20px;">-
        <i>Patrick Ackerman</i>,<br>
        MEAN Stack Developer</span><br>
    </div>
  </div>
  <div class="hero-arrow-container"><img class="hero-arrow" ng-click="gotoStats()" src="https://irp-cdn.multiscreensite.com/b76d3dfe/dms3rep/multi/mobile/arrow-down-white-261x274.dm.edit_y55pl1.png"/></div>
</div>
<div class="row clear-nav" id="stats">
  <div class="central brightfont">
    <div class="title-bar">
      <div class="title-bar-title fadeinload">{{::name}}</div>
    </div>
    <div class="small-row">
      <div class="stat-box right fadeinload">
        <div class="row">Github Commits
        </div>
        <div class="row stat"><img class="stat-icon" src="images/github-sociocon.png"/>{{::commits}}&nbsp;</div>
      </div>
      <div class="stat-box left fadeinload">
        <div class="row">Stack Overflow
        </div>
        <div class="row"><img class="stat-icon" src="images/stackoverflow-6-multi-size.ico"/>
          <div class="row stat small-medium-text-important">{{::stack.score}}&nbsp;</div>
          <div class="row stat small-medium-text-important">{{::stack.badges}}&nbsp;</div>
        </div>
      </div>
    </div>
    <section class="skills-box fadeinload">
      <div class="row medium-text">Skills</div>
      <div class="tech-container-container">
        <div class="tech-container fadeinload" ng-mouseleave="hideInfo()" ng-mouseover="showInfo(skill)" ng-repeat="skill in ::skills track by $index">
          <img class="tech-icon fadeinload" imageonload ng-src="{{::skill.icon}}"/>
          <span class="loading">
            <img class="spinny" src="./images/loading.gif"/></span>
        </div>
      </div>
    </section>
    <section class="skills-box fadeinload">
      <div class="row medium-text">Learning</div>
      <div class="tech-container-container">
        <div class="tech-container fadeinload" ng-mouseleave="hideInfo()" ng-mouseover="showInfo(learning)" ng-repeat="learning in ::learnings track by $index">
          <img class="tech-icon fadeinload" imageonload ng-src="{{::learning.skill.icon}}"/>
          <span class="loading">
            <img class="spinny" src="./images/loading.gif"/></span>
          <div class="empty-bar">
            <div class="progress-bar" style="width: {{::learning.progress || 0}}%"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="projects-box fadeinload">
      <div class="row medium-text left-align margin-bottom">
        <div class="central">
          <span class="medium-geld">R</span>ecent
          <span class="medium-geld">P</span>rojects</div>
      </div>
      <div class="row">
        <div class="project-container" ng-repeat="project in ::projects track by $index | limitTo: 3">
          <div class="project-img-container">
            <img class="project-img" imageonload ng-src="{{::project.screenshot}}"/>
            <span class="loading">
              <img class="spinny" src="./images/loading.gif"/></span>
          </div>
          <div class="row">
            <i class="icon-{{::project.platforms[0].icon}} platform-icon2"></i>
            <span class="small-medium-text line-height-match" style="margin-top: 5px; float: right;">{{::project.title}}</spn>
          </div>
        </div>
      </div>
    </section>
    <div class="info-box brightfont fadeinload" ng-show="info">
      <div class="row small-medium-text small-margin">{{selectedTech.name}}</div>
      <div class="row"><img class="tech-icon-large" ng-src="{{selectedTech.icon}}"/></div>
      <div class="tech-type-large" style="width: 90%; text-align: center;">{{selectedTech.type}}</div>
    </div>
  </div>
</div>
